@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

code, pre {
  font-family: var(--font-geist-mono), ui-monospace, monospace;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* ユーティリティ追加 */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
